<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gigbook</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <body>
      <div class="jumbotron text-center">
      <h1>Welcome to Gigbook</h1>
      <p>Gig calendar with notifications</p>
      </div>

        <div>
        <form name="testform" method="POST" action="/gigbook/:user/addgig">
        <table>
          <h1>Add a gig</h1>
            <tr>
            <td>Artist</td>
            <td><input type="text" name="artist" placeholder="Enter an artist" required></td>
            </tr>
            <tr>
            <td>Date</td>
            <td><input type="date" name="date" required></td>
            </tr>
            <tr>
            <td colspan="2"><input type="submit" value="Save" ></td>
            </tr>
        </table>
        </form>
      </div>

          <table class="table table-bordered table-sm w-50">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Artist</th>
                <th scope="col">Date</th>
                <th scope="col"></th>
              </tr>
            </thead>

        <% gigList.forEach(function(entry) { %>
          <ul>
            <tr>
            <td><%=entry.artist %></td>
            <td><%=entry.date %> </td>
            <form name="testdel" method="POST" action="/gigbook/delete">
             <input type="hidden" name="_id" value=<%=entry._id %>>
            <td><button>Delete</button></td>
          </form>
          </tr>
        <% }); %>
    </table>

        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
  </body>
</html>
